<template>
  <div class="tourists-table">

    <!--    Search-->
    <div class="row">
      <div class="col-12 col-md-9">
        <q-input
          v-model="searchText"
          clearable
          dense label="Поиск" outlined
        />
      </div>
    </div>

    <!--    Table-->
    <q-table
      :columns="columns"
      :data="filteredMessages"
      :pagination.sync="pagination"
      :rows-per-page-options="[0]"
      bordered
      class="q-mt-md shadow-0" hide-no-data
      row-key="name"
      separator="cell"
      style="max-width: 100%"
      virtual-scroll
    >
      <!--      Table header-->
      <template v-slot:header="props">
        <q-tr
          :class="$q.dark.isActive ? 'bg-grey-7' : 'bg-grey-4'"
          :props="props"
        >
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
          <span class="text-subtitle2 text-uppercase text-bold">
            {{ col.label }}
          </span>
          </q-th>
        </q-tr>
      </template>

      <!--      Table body-->
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="name" :props="props" class="text-subtitle1">
            <div class="flex items-center no-wrap relative-position">
              <div>
                <q-avatar size="70px" square>
                  <q-img :src="props.row.imageUrl"/>
                </q-avatar>
              </div>
                <p>{{ props.row.title }}</p>
            </div>
          </q-td>

          <q-td key="body" :props="props">
            {{ props.row.body }}
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'messages-table',
  computed: {
    ...mapState('messages', ['messages']),
    filteredMessages () {
      const messages = [...this.messages]
      return messages
        .filter(
          item => item.title.toLowerCase().includes(this.searchText?.toLowerCase()) ||
            item.body?.toLowerCase().includes(this.searchText?.toLowerCase())
        )
        .sort((a, b) => new Date(a.createdAt) - new Date(b.createdAt))
    }
  },
  data () {
    return {
      pagination: {
        rowsPerPage: 0
      },
      searchText: '',
      columns: [
        {
          name: 'name',
          required: true,
          label: 'Уведомления',
          align: 'left'
        },
        {
          name: 'body',
          required: true,
          label: 'Текст',
          align: 'left'
        }
      ]
    }
  },
  methods: {
    ...mapActions('messages', ['loadMessages'])
  },
  created () {
    this.loadMessages()
  },
  watch: {
    searchText (val) {
      if (val === null) this.searchText = ''
    }
  }
}
</script>

<style scoped>

</style>
