<template>
  <div class="base-prfile-info">

    <!--    Profile info-->
    <div class="row q-col-gutter-lg items-center">
      <div class="col-12 col-md-4 col-sm-6 text-center">
        <q-avatar size="200px">
          <q-img
            :src="profile.photo_url"
            class="rounded-borders shadow-1"
            width="200px"
            height="200px"
          />
        </q-avatar>

      </div>

      <div class="col-12 col-md-8 col-sm-6">
        <base-page-title :title="profile.name"/>
        <div class="q-mt-md text-subtitle1">
          <p class="q-mt-md">
            ID: {{ profile.id }}
            <base-copy-ti-clip :value="profile.id"/>
          </p>
          <p>Email: {{ profile.email }}</p>
          <a :href="profile.socialLink" target="_blank">Профиль в сетях: {{ profile.socialLink }}</a>
          <p>Телефон: {{ profile.phone_number }}
            <q-icon v-if="profile.hasWhatsapp" name="lab la-whatsapp" size="20px" style="margin-top: -3px; margin-left: 5px"/>
            <q-icon v-if="profile.hasViber" name="lab la-telegram-plane" size="20px" style="margin-top: -3px; margin-left: 5px"/>
            <q-icon v-if="profile.hasTelegram" name="lab la-viber" size="20px" style="margin-top: -3px; margin-left: 5px"/>
          </p>
          <p>Язык: {{ profile.locale }}</p>
          <p class="text-bold">Баланс: {{ profile.balance }}$</p>
          <p class="text-bold">Статус: {{ profile.is_tourist ? 'турист' : 'гид' }}</p>

          <!--          Profile verification-->
          <profile-verification
            v-if="!profile.is_tourist"
            :profile="profile"
          />
        </div>
      </div>
    </div>

    <!--    Documents-->
    <div v-if="profile.documents_urls" class="q-mt-lg">
      <q-expansion-item header-class="bg-dark text-white shadow-1 rounded-borders q-py-md" switch-toggle-side group="profile">
        <template v-slot:header>
          <base-section-title title="Документы"/>
          <q-badge color="dark" class="q-px-md absolute-right">{{ profile.documents_urls.urls.length }}</q-badge>
        </template>
        <div class="bg-dark rounded-borders q-mt-md q-pa-md">
          <profile-documents :document-urls="profile.documents_urls.urls"/>
        </div>
      </q-expansion-item>
    </div>

    <!--    Notifications-->
    <div class="notifications q-mt-lg">
      <q-expansion-item header-class="bg-dark text-white shadow-1 rounded-borders q-py-md" switch-toggle-side group="profile">
        <template v-slot:header>
          <base-section-title title="Уведомления"/>
          <q-badge color="dark" class="q-px-md absolute-right">{{ sortedNotifications.length }}</q-badge>
        </template>

        <div class="bg-dark rounded-borders q-mt-md q-pa-md">
          <div class="text-right q-mt-md">
            <notifications-create :profile="profile"/>
          </div>
          <div
            v-for="notification in sortedNotifications"
            :key="notification.id"
          >
            <notification-card :notification="notification" :uid="profile.uid"/>
          </div>
        </div>
      </q-expansion-item>
    </div>

    <!--    Tours-->
    <div class="q-mt-lg">
      <q-expansion-item header-class="bg-dark text-white shadow-1 rounded-borders q-py-md" switch-toggle-side group="profile">
        <template v-slot:header>
          <base-section-title title="Туры"/>
        </template>

        <div class="rounded-borders q-mt-md q-pa-md">
          <tours-table :profile="profile"/>
        </div>
      </q-expansion-item>
    </div>

  </div>

</template>

<script>
import BasePageTitle from 'components/base-page-title'
import NotificationsCreate from 'components/profile/notifications/notifications-create'
import NotificationCard from 'components/profile/notifications/notification-card'
import ProfileDocuments from 'components/profile/profile-documents'
import ProfileVerification from 'components/profile/profile-verification'
import BaseSectionTitle from 'components/base-section-title'
import { mapActions, mapState } from 'vuex'
import BaseCopyTiClip from 'components/base-copy-ti-clip'
import ToursTable from 'components/tours/tours-table'

export default {
  name: 'base-profile-info',
  props: {
    profile: {
      type: Object,
      default: () => {
      }
    }
  },
  components: {
    ToursTable,
    BaseCopyTiClip,
    BaseSectionTitle,
    ProfileVerification,
    ProfileDocuments,
    NotificationCard,
    NotificationsCreate,
    BasePageTitle
  },
  computed: {
    ...mapState('notifications', ['notifications']),
    sortedNotifications () {
      return [...this.notifications].sort((a, b) => a.createdAt < b.createdAt ? 1 : -1)
    }
  },
  methods: {
    ...mapActions('notifications', ['loadNotifications'])
  },
  created () {
    this.loadNotifications()
  }
}
</script>

<style scoped>

</style>
