<template>
  <div>
    <p
      :class="profile.is_verified ? 'text-positive' : 'text-negative'"
      class="text-bold"
    >
      {{ profile.is_verified ? 'Верифицирован' : 'Не верифицирован' }}
      <q-btn
        label="Изменить"
        color="accent"
        no-caps
        class="q-ml-sm"
        :loading="loading"
        @click="changeProfileVerifiedStatus"
      />
    </p>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import errorHandler from 'src/utils/errorHandler'
import server from 'src/config/server'
import notifier from 'src/utils/t-notifier'

export default {
  name: 'profile-verification',
  props: {
    profile: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      loading: false
    }
  },
  methods: {
    ...mapActions('tourists', ['loadTourist']),
    ...mapActions('guides', ['loadGuid']),

    async changeProfileVerifiedStatus () {
      const vm = this
      vm.loading = true
      try {
        await this.$axios.put(`${server.serverURI}/profiles/${vm.profile.id}`, {
          ...vm.profile,
          is_verified: !vm.profile.is_verified
        }, {
          headers: server.headers
        })
          .then(async response => {
            await vm.loadTourist(vm.profile.uid)
            await vm.loadGuid(vm.profile.uid)
            notifier({ message: 'Статус изменен.', color: 'positive' })
          })
      } catch (err) {
        errorHandler(err)
      } finally {
        vm.loading = false
      }
    }
  }
}
</script>

<style scoped>

</style>
