<template>
<div class="profile-documents">
  <div class="row q-col-gutter-md q-mt-sm">
    <div
      v-for="document in documentUrls"
      :key="document"
      class="col-12 col-md-4"
    >
      <q-img
        :src="document"
        contain
        class="shadow-3 full-height rounded-borders cursor-zoom-in"
        @click="showFullImage(document)"
      />
    </div>
  </div>

  <q-dialog v-model="documentDialog" maximized>
    <q-card style="width: 900px; max-width: 100%">
      <q-toolbar class="text-white bg-dark">
        <q-space />
        <q-btn icon="close" dense flat v-close-popup/>
      </q-toolbar>

      <q-card-section>
        <q-img
          class="full-width"
          :src="documentToShowUrl"
        />
      </q-card-section>
    </q-card>
  </q-dialog>
</div>
</template>

<script>
export default {
  name: 'profile-documents',
  props: {
    documentUrls: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      documentDialog: false,
      documentToShowUrl: ''
    }
  },
  methods: {
    showFullImage (image) {
      this.documentDialog = true
      this.documentToShowUrl = image
    }
  }
}
</script>

<style scoped>

</style>
