<template>
  <div class="tourists-table">
    <div class="row">
      <div class="col-12 col-md-9">
        <q-input
          label="Поиск"
          v-model="searchText"
          outlined dense clearable
        />
      </div>
    </div>

    <q-table
      :data="filteredTourists"
      :columns="columns"
      row-key="name"
      separator="cell"
      class="q-mt-md shadow-0"
      hide-no-data bordered
      style="max-width: 100%"
      virtual-scroll
      :pagination.sync="pagination"
      :rows-per-page-options="[0]"
    >
      <template v-slot:header="props">
        <q-tr
          :props="props"
          :class="$q.dark.isActive ? 'bg-grey-7' : 'bg-grey-4'"
        >
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
          <span class="text-subtitle2 text-uppercase text-bold">
            {{ col.label }}
          </span>
          </q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="name" :props="props" style="width: 75%">
            <q-btn
              icon="las la-user"
              round dense
              class="q-mr-md"
              color="accent"
              :to="{ name: 'tourist', params: { id: props.row.uid } }"
            />
            {{ props.row.name }}
          </q-td>
          <q-td key="email" :props="props" style="width: 25%">
            {{ props.row.email }}
          </q-td>
          <q-td key="phone" :props="props" style="width: 25%">
            {{ props.row.phone_number }}
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'tourists-table',
  computed: {
    ...mapState('tourists', ['tourists']),
    filteredTourists () {
      let tourists = [...this.tourists]
      if (this.searchText) {
        tourists = this.tourists
          .filter(item => item.name.toLowerCase().includes(this.searchText.toLowerCase()) ||
            item.email.toLowerCase().includes(this.searchText.toLowerCase()) ||
            item.phone_number.toLowerCase().includes(this.searchText.toLowerCase())
          )
      }
      return tourists
    }
  },
  data () {
    return {
      pagination: {
        rowsPerPage: 0
      },
      searchText: '',
      columns: [
        {
          name: 'name',
          required: true,
          label: 'Имя',
          align: 'left'
        },
        {
          name: 'email',
          align: 'center',
          label: 'Email',
          field: 'calories'
        },
        {
          name: 'phone',
          align: 'center',
          label: 'Телефон',
          field: 'calories'
        }
      ]
    }
  }
}
</script>

<style scoped>

</style>
