<template>
<q-page class="q-pa-md">
  <base-page-title title="Гиды"/>
  <guides-table class="q-mt-lg" />
</q-page>
</template>

<script>
import BasePageTitle from 'components/base-page-title'
import GuidesTable from 'components/profile/guides/guides-table'
export default {
  name: 'Guides',
  components: { GuidesTable, BasePageTitle },
  preFetch ({ store }) {
    return store.dispatch('guides/loadGuides')
  }
}
</script>

<style scoped>

</style>
