<template>
<q-page class="q-pa-md">
  <base-prfile-info :profile="guid" />
</q-page>
</template>

<script>
import BasePrfileInfo from 'components/profile/base-profile-info'
import { mapState } from 'vuex'
export default {
  name: 'Guid',
  components: { BasePrfileInfo },
  computed: {
    ...mapState('guides', ['guid'])
  },
  preFetch ({ store, currentRoute }) {
    return store.dispatch('guides/loadGuid', currentRoute.params.id)
  }
}
</script>

<style scoped>

</style>
