<template>
  <div class="notifications-create">

    <q-btn
      label="Новое уведомление"
      icon="add"
      color="accent"
      class="text-bold letter-1 rounded-borders q-py-sm"
      @click="dialog = true"
    >
      <q-tooltip>Создать новое уведомление</q-tooltip>
    </q-btn>

    <q-dialog v-model="dialog">
      <q-card style="width: 500px; max-width: 100%">
        <q-toolbar class="bg-dark text-white">
          <q-toolbar-title>
            <p>Новое уведомление</p>
          </q-toolbar-title>
          <q-btn icon="close" dense flat v-close-popup/>
        </q-toolbar>

        <q-card-section class="q-mt-md">
          <q-input
            v-model="formData.title"
            label="Заголовок"
            outlined clearable
            :error="errors.titleError"
            error-message="Это поле не может быть пустым"
          />
          <q-input
            v-model="formData.text"
            type="textarea"
            label="Текст уведомления"
            outlined clearable
            :error="errors.textError"
            error-message="Это поле не может быть пустым"
            class="q-mt-xs"
          />
          <q-select
            v-model="link"
            :options="linkOptions"
            label="Ссылка"
            outlined stack-label
            clearable emit-value
            option-label="name"
            option-value="value"
          />

          <q-uploader
            :url="getUploadUrl"
            style="min-width: 100%;"
            class="q-mt-md"
            field-name="files"
            @uploaded="fileUploaded"
          />

          <div class="text-right">
            <q-btn
              :label="`Перевести ${profile.locale}`"
              outline
              class="q-mt-md q-py-sm q-px-md text-bold letter-1 q-mr-md"
              @click="translateText"
            />
            <q-btn
              label="Отправить"
              color="positive"
              class="q-mt-md q-py-sm q-px-md text-bold letter-1"
              :loading="loading"
              @click="createProfileNotification"
            />
          </div>

        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { Translator } from 'src/classes/Translator'
import server from 'src/config/server'
import { notificationLinks } from 'src/config/notification-options'
export default {
  name: 'notifications-create',
  props: {
    profile: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      dialog: false,
      loading: false,
      linkOptions: [],
      link: '',
      image: '',
      formData: {
        title: '',
        text: ''
      },
      translatedFormData: {
        title: '',
        text: ''
      },
      errors: {
        textError: false,
        titleError: false
      }
    }
  },
  methods: {
    ...mapActions('notifications', ['createNotification']),

    getUploadUrl () {
      return server.notificationServerURI + '/upload'
    },

    fileUploaded (info) {
      this.image = server.notificationServerURI + JSON.parse(info.xhr.response)[0].formats.small.url
    },

    async createProfileNotification () {
      const vm = this
      const data = vm.formData

      if (!data.title) {
        vm.errors.titleError = true
        return null
      }

      if (!data.text) {
        vm.errors.textError = true
        return null
      }

      vm.loading = true
      await vm.createNotification({
        title: data.title,
        body: data.text,
        link: vm.link,
        image: vm.image,
        uid: vm.profile.uid
      })
      vm.loading = false
      vm.dialog = false
      data.text = ''
      data.title = ''
    },

    async translateText () {
      const translator = new Translator()
      const text = Object.values(this.formData)
      const translations = await translator.translateText({ text, target: this.profile.locale.split('-')[0] })

      this.formData.title = translations[0] || this.formData.title
      this.formData.text = translations[1] || this.formData.text
    }
  },
  async created () {
    this.linkOptions = await notificationLinks.getNotificationLinks()
  }
}
</script>

<style scoped>

</style>
