<template>
  <q-card class="bg-grey-4 q-mt-md shadow-0 rounded-borders">
    <q-card-section class="text-dark q-pb-sm">
      <div class="flex items-center no-wrap">
        <div class="q-mr-md">
          <q-img
            height="100px"
            width="100px"
            :src="notification.image"
            class="rounded-borders shadow-2"
          />
        </div>
        <div>
          <p class="text-subtitle1 text-bold">{{ notification.title }}</p>
          <q-separator spaced=""/>
          <p>{{ notification.body }}</p>
          <small class="text-bold">Ссылка: {{ notification.link }}</small>
        </div>
      </div>

      <div class="text-italic flex justify-between q-mt-xs items-center">
        <small>
          {{ notification.createdAt | dateTimeFilter }}
        </small>

        <q-btn
          icon="lar la-trash-alt"
          dense flat
          color="negative"
          class="q-ml-md"
          :loading="loading"
          @click="deleteNotification"
        >
          <q-tooltip>Удалить</q-tooltip>
        </q-btn>
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
import dateTimeFilter from 'src/filters/date-time-filter'
import { mapActions } from 'vuex'

export default {
  name: 'notification-card',
  props: {
    notification: {
      type: Object,
      default: () => {}
    },
    uid: String
  },
  filters: { dateTimeFilter },
  data () {
    return {
      loading: false
    }
  },
  methods: {
    ...mapActions('notifications', { notificationDelete: 'deleteNotification' }),

    async deleteNotification () {
      const vm = this
      if (!confirm('Удалить уведомление?')) return null
      vm.loading = true
      await this.notificationDelete(vm.notification.id)
      vm.loading = false
    }
  }
}
</script>

<style scoped>

</style>
