<template>
<div class="add-city">
  <div>
    <q-btn
      icon="add"
      round
      color="positive"
      @click="dialog=true"
    />
  </div>

  <q-dialog persistent v-model="dialog">
    <q-card style="width: 550px; max-width: 100%">
      <q-toolbar class="bg-primary text-white">
        <q-toolbar-title>Добавить город</q-toolbar-title>
        <q-btn icon="close" flat dense v-close-popup/>
      </q-toolbar>

      <q-card-section>
        <q-input
          v-model="formData.name"
          label="Название города*"
          outlined clearable
          class="q-mt-xs"
        />
        <q-select
          v-model="formData.country"
          label="Страна*"
          :options="countries"
          map-options
          option-label="name"
          option-value="id"
          outlined clearable
          class="q-mt-md"
        />
        <div class="flex q-mt-md">
          <q-checkbox color="accent" label="Активный" v-model="formData.active"/>
          <q-checkbox color="accent" label="Популярный" v-model="formData.popular"/>
        </div>
        <q-uploader
          label="Фото"
          :url="getUploadUrl"
          :headers="uploaderHeaders"
          style="min-width: 100%;"
          class="q-mt-md"
          max-file-size="1000000"
          field-name="files"
          @rejected="fileRejected"
          @uploaded="fileUploaded"
        />
      </q-card-section>

      <q-card-actions class="q-pa-md" align="right">
        <q-btn
          label="Сохранить"
          color="accent"
          icon-right="save"
          class="q-px-md"
          :loading="loading"
          :disable="!formData.name || !formData.image || !formData.country"
          @click="createCity"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</div>
</template>

<script>
import server from 'src/config/server'
import { mapActions, mapState } from 'vuex'
import notifier from 'src/utils/notifier'
import errorHandler from 'src/utils/errorHandler'

export default {
  name: 'add-city',
  computed: {
    ...mapState('places', ['countries']),
    uploaderHeaders () {
      return [{ name: 'Authorization', value: server.headers.Authorization }]
    }
  },
  data () {
    return {
      dialog: false,
      loading: false,
      formData: {
        name: '',
        country: null,
        image: null,
        active: true,
        popular: false
      }
    }
  },
  methods: {
    ...mapActions('places', ['loadCities']),
    fileRejected () {
      notifier({ message: 'Максимальный размер файлов 1Mb' })
    },
    getUploadUrl () {
      return server.serverURI + '/upload'
    },
    fileUploaded (info) {
      this.formData.image = JSON.parse(info.xhr.response)?.[0].id || null
    },
    async createCity () {
      this.loading = true
      try {
        await this.$axios.post(`${server.serverURI}/cities`, {
          ...this.formData
        }, {
          headers: { ...server.headers }
        }).then(res => {
          if (res.status === 200) {
            notifier({ message: 'Город добавлен в базу', color: 'positive' })
            this.dialog = false
            this.formData.name = ''
            this.formData.image = null
            this.loadCities()
          } else notifier({ message: 'Ошибка', color: 'negative' })
        })
      } catch (e) {
        errorHandler(e)
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style scoped>

</style>
