<template>
  <div class="cities-table">
    <div class="row q-col-gutter-md">
      <div class="col-12 col-sm-6">
        <q-select
          v-model="country"
          label="Страна"
          :options="countries"
          map-options
          dense
          option-label="name"
          option-value="id"
          outlined clearable
        />
      </div>
      <div class="col-12 col-sm-6">
        <q-input
          label="Поиск"
          v-model="searchText"
          outlined dense clearable
        />
      </div>
    </div>

    <p class="q-pt-md">Всего городов: {{ cities ? cities.length : '' }}</p>
    <q-table
      :data="filteredCities"
      :columns="columns"
      separator="cell"
      class="q-mt-md shadow-0"
      hide-no-data bordered
      :loading="!cities.length"
      style="max-width: 100%"
      row-key="index"
      virtual-scroll
      :pagination.sync="pagination"
      :rows-per-page-options="[0]"
    >
      <template v-slot:header="props">
        <q-tr
          :props="props"
          :class="$q.dark.isActive ? 'bg-grey-7' : 'bg-grey-4'"
        >
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
          <span class="text-subtitle2 text-bold">
            {{ col.label }}
          </span>
          </q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="name" :props="props" style="width: 75%">
            <div class="flex no-wrap items-center">
              <q-img :src="getImage(props.row)" height="30px" width="50px">
                <template v-slot:loading>
                  <q-skeleton class="fit"/>
                </template>
              </q-img>
              <div :class="$q.dark.isActive ? 'text-white' : 'text-dark'" class="q-ml-sm">
                {{ props.row.name }}
              </div>
            </div>

          </q-td>

          <q-td key="country" :props="props" style="width: 25%">
            {{ props.row.country.name }}
          </q-td>

          <q-td key="active" :props="props" style="width: 25%">
            <q-btn
              flat dense
              :icon="props.row.active ? 'check' : 'close'"
              :color="props.row.active ? 'positive' : 'negative'"
              @click="updateCity(props.row, 'active')"
            />
          </q-td>

          <q-td key="popular" :props="props" style="width: 25%">
            <q-btn
              flat dense
              :icon="props.row.popular ? 'check' : 'close'"
              :color="props.row.popular ? 'positive' : 'negative'"
              @click="updateCity(props.row, 'popular')"
            />
          </q-td>

          <q-td key="toursCount" :props="props" style="width: 25%">
            {{ props.row.tours ? props.row.tours.length : 0 }}
          </q-td>

          <q-td key="actions" :props="props" style="width: 25%">
            <q-btn
              icon-right="delete_forever"
              dense
              color="dark"
              @click="deleteCity(props.row)"
            >
              <q-tooltip>Удалить</q-tooltip>
            </q-btn>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import server from 'src/config/server'
import notifier from 'src/utils/notifier'
import errorHandler from 'src/utils/errorHandler'

export default {
  name: 'cities-table',
  computed: {
    ...mapState('places', ['cities', 'countries']),
    filteredCities () {
      const cities = JSON.parse(JSON.stringify(this.cities))
      let filteredCities = cities
        .filter(item => item.name.toLowerCase().includes(this.searchText.toLowerCase()))
        .sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt))

      if (this.country) {
        filteredCities = filteredCities.filter(item => item.country.id === this.country.id)
      }

      return filteredCities
    }
  },
  data () {
    return {
      searchText: '',
      country: null,
      pagination: {
        rowsPerPage: 0
      },
      columns: [
        {
          name: 'name',
          required: true,
          label: 'Наименование',
          align: 'left'
        },
        {
          name: 'country',
          align: 'left',
          label: 'Страна'
        },
        {
          name: 'active',
          align: 'center',
          label: 'Активный'
        },
        {
          name: 'popular',
          align: 'center',
          label: 'Топ'
        },
        {
          name: 'toursCount',
          align: 'center',
          label: 'Кол-во туров'
        },
        {
          name: 'actions',
          align: 'center'
        }
      ]
    }
  },
  methods: {
    ...mapActions('places', ['loadCities']),
    getImage (city) {
      return `${server.serverURI}${city.image?.url}`
    },
    async deleteCity (city) {
      if (city.tours?.length) {
        return notifier({ message: 'Удаление невозможно. Имеются туры.', color: 'negative' })
      }
      const confirmed = confirm('Удалить город ' + city.name)
      if (!confirmed) return null
      try {
        await this.$axios.delete(`${server.serverURI}/cities/${city.id}`, {
          header: {
            ...server.headers
          }
        }).then(res => {
          if (res.status === 200) {
            notifier({ message: 'Город удален.', color: 'positive' })
            this.loadCities()
          } else {
            notifier({ message: 'Ошибка', color: 'negative' })
          }
        })
      } catch (e) {
        errorHandler(e)
      }
    },

    async updateCity (city, field) {
      try {
        await this.$axios.put(`${server.serverURI}/cities/${city.id}`, {
          [field]: !city[field]
        }, {
          header: {
            ...server.headers
          }
        }).then(res => {
          if (res.status === 200) {
            notifier({ message: 'Город обновлен.', color: 'positive' })
            this.loadCities()
          } else {
            notifier({ message: 'Ошибка', color: 'negative' })
          }
        })
      } catch (e) {
        errorHandler(e)
      }
    }
  }
}
</script>

<style scoped>

</style>
