<template>
  <q-page class="q-pa-md q-pb-xl">
    <div v-if="offerCreated" class="q-pb-xl q-mb-xl">
      <base-page-title :title="`Офер к туру '${offer.tour.name}'`"/>
      <p class="q-mt-md">
        ID: {{ offer.id }}
        <base-copy-ti-clip :value="offer.id"/>
      </p>
      <!--    Main info-->
      <q-expansion-item
        group="offer"
        header-class="bg-dark text-white shadow-1 rounded-borders q-mt-lg q-py-md"
        switch-toggle-side
      >
        <template v-slot:header>
          <base-section-title title="Основная информация"/>
        </template>

        <q-checkbox v-model="offer.top" class="q-mt-md" label="В топе" outlined/>
        <q-checkbox v-model="offer.translationApproved" class="q-mt-md q-ml-md" label="Перевод подтвержден (текущий)"
                    outlined/>
        <q-input v-model="offer.adult_price" class="q-mt-md" label="Цена (взрослые) $" outlined/>
        <q-input v-model="offer.child_price" class="q-mt-md" label="Цена (дети) $" outlined/>
        <q-input v-model="offer.languages" class="q-mt-md" label="Доступные языки гидов" outlined/>
        <q-input v-model="offer.prerequisites" class="q-mt-md" label="Пререквизиты" outlined type="textarea"/>
        <q-input v-model="offer.prohibitions" class="q-mt-md" label="Запрещено" outlined type="textarea"/>
        <q-input v-model="offer.included" class="q-mt-md" label="Включено" outlined type="textarea"/>
        <q-input v-model="offer.not_included" class="q-mt-md" label="Не включено" outlined type="textarea"/>

      </q-expansion-item>

      <!--    Additional info-->
      <q-expansion-item
        group="offer"
        header-class="bg-dark text-white shadow-1 rounded-borders q-mt-lg q-py-md"
        switch-toggle-side
      >
        <template v-slot:header>
          <base-section-title title="Дополнительная информация"/>
        </template>
        <div class="q-mt-md">
          <q-item
            class="q-pa-none items-center"
            clickable
            style="height: auto !important;"
            :to="{ name: 'guid', params: { id: offer.profile.uid } }"
          >
            Гид: {{ offer.profile.name }}
          </q-item>
          <q-item
            class="q-pa-none items-center"
            clickable
            style="height: auto !important;"
            :to="{ name: 'tour-detail', params: { id: offer.tour.id } }"
          >
            Тур: {{ offer.tour.name }}
          </q-item>
          <p>Язык оригинала: {{ offer.createdLanguage }}</p>
          <p v-if="offer.localizations && offer.localizations.length">Переводы:
            <router-link
              v-for="loc in offer.localizations"
              :key="loc.id"
              :to="{ name: 'offer-detail', params: { id: loc.id } }"
              class="text-positive q-ml-md"
            >
              {{ loc.locale }}
            </router-link>
          </p>
          <p>Длительность: {{ offer.duration }}</p>
          <p v-if="offer.date">Дата проведения тура: {{ offer.date | dateTimeFilter }}</p>
          <p>Предложение доступно всегда: {{ offer.alwaysAvailable ? 'да' : 'нет' }}</p>
          <p>Создано: {{ offer.createdAt | dateTimeFilter }}</p>
          <p>Последнее обновление: {{ offer.updatedAt | dateTimeFilter }}</p>
        </div>

      </q-expansion-item>

      <!--    Photos-->
      <q-expansion-item
        group="offer"
        header-class="bg-dark text-white shadow-1 rounded-borders q-py-md q-mt-lg"
        switch-toggle-side
      >
        <template v-slot:header>
          <base-section-title title="Фотографии"/>
        </template>

        <div class="bg-dark rounded-borders q-mt-md q-pa-md">
          <div class="row q-col-gutter-md">
            <div
              v-for="image in offer.getImages()"
              :key="image"
              class="col-12 col-sm-6 col-md-4"
            >
              <q-img
                :src="image"
                class="rounded-borders"
              >
                <q-btn
                  class="rounded-borders absolute-bottom-right q-ma-sm"
                  color="negative"
                  dense
                  icon="las la-trash"
                  @click="offer.deleteImage(image)"
                />
              </q-img>
            </div>

          </div>
        </div>

      </q-expansion-item>

      <!--      Remark-->
      <q-expansion-item
        group="offer"
        header-class="bg-dark text-white shadow-1 rounded-borders q-py-md q-mt-lg"
        switch-toggle-side
      >
        <template v-slot:header>
          <base-section-title title="Замечание"/>
        </template>
        <div class="bg-dark rounded-borders q-mt-md q-pa-md">
          <offer-remark :offer="offer"/>
        </div>
      </q-expansion-item>

      <!--      Actions-->
      <div class="q-mt-lg flex justify-between">
        <q-checkbox
          v-model="offer.approved"
          class="text-subtitle1 text-bold"
          label="Опубликовать"
        />

        <q-btn
          label="Удалить оффер"
          color="dark"
          class="q-pa-sm q-mt-md"
          no-caps
          icon="las la-trash"
          :loading="deleteLoading"
          @click="deleteOffer"
        />
      </div>

      <div class="edit-actions">
        <div class="row q-col-gutter-md">
          <div class="col-6">
            <q-btn
              class="rounded-borders q-py-sm full-width"
              color="negative"
              icon="close"
              label="Отменить"
              outline
              @click="cancel"
            />
          </div>

          <div class="col-6">
            <q-btn
              class="rounded-borders q-py-sm full-width"
              color="positive"
              icon="save"
              label="Сохранить"
              :loading="updateLoading"
              @click="updateOffer"
            />
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>

import { mapActions, mapState } from 'vuex'
import Offer from 'src/classes/Offer'
import server from 'src/config/server'
import notifier from 'src/utils/t-notifier'
import errorHandler from 'src/utils/errorHandler'
import BasePageTitle from 'components/base-page-title'
import BaseSectionTitle from 'components/base-section-title'
import dateTimeFilter from 'src/filters/date-time-filter'
import OfferRemark from 'components/offers/offer-remark'
import BaseCopyTiClip from 'components/base-copy-ti-clip'

export default {
  name: 'OfferDetail',
  components: { BaseCopyTiClip, OfferRemark, BaseSectionTitle, BasePageTitle },
  filters: { dateTimeFilter },
  computed: {
    ...mapState('offers', { originalOffer: 'offer' }),
    offerCreated () {
      return !!Object.values(this.offer).length
    }
  },
  preFetch ({ store, currentRoute }) {
    return store.dispatch('offers/loadOffer', currentRoute.params.id)
  },
  data () {
    return {
      offer: new Offer({}),
      updateLoading: false,
      deleteLoading: false
    }
  },
  mounted () {
    const createOfferInstance = setInterval(() => {
      if (Object.values(this.originalOffer).length) {
        this.offer = new Offer(this.originalOffer)
        clearInterval(createOfferInstance)
      }
    }, 250)
  },

  methods: {
    ...mapActions('offers', ['loadOffer']),
    async cancel () {
      await this.updateLoading(this.offer.id)
      this.offer = new Offer(this.originalOffer)
    },

    async updateOffer () {
      const vm = this
      vm.updateLoading = true
      try {
        await vm.$axios.put(`${server.serverURI}/offers/${vm.offer.id}`, {
          ...vm.offer,
          _id: vm.offer.id
        }, {
          headers: server.headers
        })
          .then(async res => {
            notifier({ message: 'Офер успешно обновлен.', color: 'positive' })
            await vm.loadOffer(vm.offer.id)
            vm.offer = new Offer(vm.originalOffer)
          })
      } catch (err) {
        errorHandler(err)
      } finally {
        vm.updateLoading = false
      }
    },

    async deleteOffer () {
      const vm = this

      if (!confirm('Удалить офер?')) return null
      vm.deleteLoading = true
      try {
        await this.$axios.delete(`${server.serverURI}/offers/${this.offer.id}`, {
          headers: server.headers
        })
          .then(async res => {
            notifier({ message: 'Офер успешно удален.', color: 'positive' })
            await vm.$router.replace({ name: 'offers' })
          })
      } catch (err) {
        errorHandler(err)
      } finally {
        this.deleteLoading = false
      }
    }
  },
  watch: {
    async '$route.params.id' () {
      location.reload()

      await this.loadOffer(this.offer.id)
      this.offer = new Offer(this.originalOffer)
    }
  }
}
</script>

<style lang="sass">
.offer-category-item
  margin-right: 20px

.offer-categories
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 10px
</style>
