<template>
<q-page class="q-pa-md">
  <base-page-title title="Оферы"/>
  <div class="q-mt-lg">
    <offers-table />
  </div>
</q-page>
</template>

<script>
import BasePageTitle from 'components/base-page-title'
import OffersTable from 'components/offers/offers-table'
export default {
  name: 'Offers',
  components: { OffersTable, BasePageTitle }
}
</script>

<style scoped>

</style>
