<template>
<q-page class="q-pa-md">
  <div class="flex justify-between">
    <base-page-title title="Города"/>
    <add-city />
  </div>

  <div class="q-mt-lg">
    <cities-table/>
  </div>
</q-page>
</template>

<script>
import BasePageTitle from 'components/base-page-title'
import AddCity from 'components/cities/add-city'
import CitiesTable from 'components/cities/cities-table'
import { mapActions } from 'vuex'
export default {
  name: 'Cities',
  components: { CitiesTable, AddCity, BasePageTitle },
  methods: {
    ...mapActions('places', ['loadCities', 'loadCountries'])
  },
  created () {
    this.loadCities()
    this.loadCountries()
  }
}
</script>

<style scoped>

</style>
