<template>
<q-page class="q-pa-md">
  <div class="flex justify-between">
    <base-page-title title="Страны"/>
    <add-country />
  </div>

  <div class="q-mt-lg">
    <countries-table/>
  </div>
</q-page>
</template>

<script>
import BasePageTitle from 'components/base-page-title'
import CountriesTable from 'components/countries/countries-table'
import { mapActions } from 'vuex'
import AddCountry from 'components/countries/add-country'
export default {
  name: 'Countries',
  components: { AddCountry, CountriesTable, BasePageTitle },
  methods: {
    ...mapActions('places', ['loadCountries'])
  },
  created () {
    this.loadCountries()
  }
}
</script>

<style scoped>

</style>
