<template>
<q-page class="flex flex-center">
<q-card
  style="width: 700px; max-width: 95%; opacity: .8"
  class=""
  dark
>
  <q-card-section class="q-py-lg">
    <div class="text-h5 text-bold text-right">Вход</div>

    <div class="login-form q-mt-lg">
      <q-input
        dark
        v-model="formData.email"
        type="email"
        label="Email"
        outlined
        :error="errors.mailError"
        error-message="Это обязательное поле"
      >
        <template v-slot:prepend>
          <q-icon name="las la-at"/>
        </template>
      </q-input>

      <q-input
        dark
        v-model="formData.password"
        type="password"
        label="Password"
        outlined
        class="q-mt-md"
        :error="errors.passwordError"
        error-message="Это обязательное поле"
      >
        <template v-slot:prepend>
          <q-icon name="las la-key"/>
        </template>
      </q-input>

      <q-btn
        label="Войти"
        color="primary"
        class="q-mt-lg q-px-xl q-py-sm"
        @click="login"
      />
    </div>
  </q-card-section>
</q-card>
</q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'Login',
  computed: {
    ...mapState('user', ['user'])
  },
  data () {
    return {
      formData: {
        email: '',
        password: ''
      },
      errors: {
        mailError: false,
        passwordError: false
      }
    }
  },
  methods: {
    ...mapActions('user', ['loginUser']),
    async login () {
      const { email, password } = this.formData
      if (!email) {
        this.errors.mailError = true
        return null
      }
      if (!password) {
        this.errors.passwordError = true
        return null
      }

      await this.loginUser({ email, password })

      if (this.user) {
        await this.$router.replace('/')
      }
    }
  }
}
</script>

<style scoped>

</style>
