<template>
  <div class="tours-table">
    <div class="row q-col-gutter-md">
      <div class="col-12 col-sm-6">
        <q-input
          label="Поиск"
          v-model="searchText"
          outlined dense clearable
        />
      </div>
      <div class="col-12 col-sm-6">
        <q-select
          v-model="filter._locale"
          :options="localizations"
          label="Язык"
          outlined dense
        />
      </div>
    </div>

    <div class="q-mt-sm row q-col-gutter-md">
      <div class="col-6">
        <q-checkbox
          v-model="filter._next"
          label="Не оригинал"
        />
      </div>
      <div class="col-6">
        <q-checkbox
          v-model="filter._approved"
          label="Подтвержденные"
        />
      </div>
    </div>
    <p>Туров: {{ tours ? tours.length : '' }}</p>
    <q-table
      v-if="tours && tours.length"
      :data="filteredTours"
      :columns="columns"
      separator="cell"
      class="q-mt-md shadow-0"
      hide-no-data bordered
      :loading="tableLoading"
      style="max-width: 100%"
      row-key="index"
      virtual-scroll
      :pagination.sync="pagination"
      :rows-per-page-options="[0]"
    >
      <template v-slot:header="props">
        <q-tr
          :props="props"
          :class="$q.dark.isActive ? 'bg-grey-7' : 'bg-grey-4'"
        >
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
          <span class="text-subtitle2 text-bold">
            {{ col.label }}
          </span>
          </q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="name" :props="props" style="width: 75%">
            <router-link
              :to="{name: 'tour-detail', params: { id: props.row.id }}"
              :class="$q.dark.isActive ? 'text-white' : 'text-dark'"
            >
              {{ props.row.name }}
              <q-tooltip>Перейти к туру</q-tooltip>
            </router-link>

          </q-td>

          <q-td key="approved" :props="props" style="width: 25%">
            <q-icon
              :name="props.row.approved ? 'done' : 'close'"
              :color="props.row.approved ? 'positive' : 'negative'"
              size="25px"
            />
          </q-td>

          <q-td key="city" :props="props" style="width: 25%">
            {{ props.row.cityName}}
          </q-td>

          <q-td key="guide" :props="props" style="width: 25%">
            {{ props.row.guideName}}
          </q-td>

          <q-td key="created" :props="props" style="width: 25%">
            {{ getDate(props.row.createdAt) }}
          </q-td>

        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import server from 'src/config/server'
import errorHandler from 'src/utils/errorHandler'

export default {
  name: 'tours-table',
  props: {
    profile: {
      type: Object,
      default: () => {}
    },
    isDark: {
      type: Boolean,
      default: false
    }
  },
  components: { },
  computed: {
    ...mapState('tours', ['tours']),
    dark () {
      return this.isDark || this.$q.dark.isActive
    },
    filteredTours () {
      return this.tours
        .filter(
          item => item.name.toLowerCase().includes(this.searchText.toLowerCase())
        )
    },
    filterNext () {
      return this.filter._next
    },
    filterLocale () {
      return this.filter._locale
    },
    filterApproved () {
      return this.filter._approved
    }
  },
  data () {
    return {
      searchText: '',
      pagination: {
        rowsPerPage: 0
      },
      columns: [
        {
          name: 'name',
          required: true,
          label: 'Наименование',
          align: 'left'
        },
        {
          name: 'approved',
          align: 'center',
          label: 'Проверен'
        },
        {
          name: 'city',
          field: 'cityName',
          align: 'center',
          label: 'Город',
          sortable: true
        },
        {
          name: 'guide',
          align: 'center',
          field: 'guideName',
          label: 'Гид',
          sortable: true
        },
        {
          name: 'created',
          align: 'center',
          label: 'Создан',
          field: 'createdAt',
          sortable: true,
          sort: (a, b) => new Date(a) - new Date(b)
        }
      ],

      localizations: [],
      tableLoading: false,
      filter: {
        _next: false, // Оригинальный тур
        _locale: 'all',
        _approved: false,
        _profile: this.profile ? this.profile.id || undefined : undefined
      }
    }
  },
  methods: {
    ...mapActions('tours', ['loadTours']),
    getDate (date) {
      console.log(this.$dayjs(date).format('DD MMM YYYY'))
      return this.$dayjs(date).format('DD MMM YYYY')
    },
    async reloadTours () {
      this.tableLoading = true
      try {
        await this.loadTours(this.filter)
      } catch (err) {
        errorHandler(err)
      } finally {
        this.tableLoading = false
      }
    }
  },
  async created () {
    let locales = []
    await this.loadTours(this.filter)
    locales = await this.$axios.get(`${server.serverURI}/i18n/locales`).then(res => res.data) || []
    locales.forEach(item => this.localizations.push(item?.code))
    this.localizations.unshift('all')
  },
  watch: {
    searchText (val) {
      if (val === null) this.searchText = ''
    },
    filterNext () {
      this.reloadTours()
    },
    filterLocale () {
      this.reloadTours()
    },
    filterApproved () {
      this.reloadTours()
    }
  }
}
</script>
