<template>
<q-page class="q-pa-md">
  <base-page-title title="Массовые сообщения"/>
  <create-message class="q-mt-md"/>
  <messages-table class="q-mt-lg"/>
</q-page>
</template>

<script>
import BasePageTitle from 'components/base-page-title'
import CreateMessage from 'components/messages/create-message'
import MessagesTable from 'components/messages/messages-table'
export default {
  name: 'Messages',
  components: { MessagesTable, CreateMessage, BasePageTitle }
}
</script>

<style scoped>

</style>
