<template>
<div class="">
  <p class="text-h6 text-bold">{{ title }}</p>
</div>
</template>

<script>
export default {
  name: 'base-section-title',
  props: {
    title: String
  }
}
</script>

<style scoped>

</style>
