<template>
<div>
  <base-page-title :title="$t('translator')"/>
  <q-separator class="q-mb-md"/>
  <iframe style="border-radius: 5px; border: none" class="shadow-3" width="100%" height="500px" src="https://www.bing.com/translator"></iframe>
</div>
</template>

<script>
import BasePageTitle from 'components/base-page-title'
export default {
  name: 'base-translator',
  components: { BasePageTitle }
}
</script>

<style scoped>

</style>
