<template>
<q-page class="q-pa-md">
  <base-page-title title="Цикличные уведомления"/>
  <create-general-notification class="q-mt-md"/>
  <general-notifications-table class="q-mt-xl"/>
</q-page>
</template>

<script>
import BasePageTitle from 'components/base-page-title'
import GeneralNotificationsTable from 'components/general-notifications/general-notifications-table'
import CreateGeneralNotification from 'components/general-notifications/create-general-notification'
export default {
  name: 'Notifications',
  components: { CreateGeneralNotification, GeneralNotificationsTable, BasePageTitle }
}
</script>

<style scoped>

</style>
