<template>
<div class="add-country">
  <div>
    <q-btn
      icon="add"
      round
      color="positive"
      @click="dialog=true"
    />
  </div>

  <q-dialog persistent v-model="dialog">
    <q-card style="width: 550px; max-width: 100%">
      <q-toolbar class="bg-primary text-white">
        <q-toolbar-title>Добавить страну</q-toolbar-title>
        <q-btn icon="close" flat dense v-close-popup/>
      </q-toolbar>

      <q-card-section>
        <q-input
          v-model="formData.name"
          label="Название страны*"
          outlined clearable
          class="q-mt-xs"
        />
        <q-input
          v-model="formData.code"
          label="Код*"
          hint="Например: +7"
          outlined clearable
          class="q-mt-md"
        />
        <q-uploader
          label="Флаг"
          :url="getUploadUrl"
          :headers="uploaderHeaders"
          style="min-width: 100%;"
          class="q-mt-md"
          max-file-size="1000000"
          field-name="files"
          @rejected="fileRejected"
          @uploaded="fileUploaded"
        />
      </q-card-section>

      <q-card-actions class="q-pa-md" align="right">
        <q-btn
          label="Сохранить"
          color="accent"
          icon-right="save"
          class="q-px-md"
          :loading="loading"
          :disable="!formData.name || !formData.flag || !formData.code"
          @click="createCountry"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</div>
</template>

<script>
import server from 'src/config/server'
import notifier from 'src/utils/notifier'
import errorHandler from 'src/utils/errorHandler'
import { mapActions } from 'vuex'

export default {
  name: 'add-country',
  computed: {
    uploaderHeaders () {
      return [{ name: 'Authorization', value: server.headers.Authorization }]
    }
  },
  data () {
    return {
      dialog: false,
      loading: false,
      formData: {
        name: '',
        code: '',
        flag: null
      }
    }
  },
  methods: {
    ...mapActions('places', ['loadCountries']),
    fileRejected () {
      notifier({ message: 'Максимальный размер файлов 1Mb' })
    },
    getUploadUrl () {
      return server.serverURI + '/upload'
    },
    fileUploaded (info) {
      this.formData.flag = JSON.parse(info.xhr.response)?.[0].id || null
    },
    async createCountry () {
      this.loading = true
      try {
        await this.$axios.post(`${server.serverURI}/countries`, {
          ...this.formData
        }, {
          headers: { ...server.headers }
        }).then(res => {
          if (res.status === 200) {
            notifier({ message: 'Страна добавлена в базу', color: 'positive' })
            this.dialog = false
            this.formData.name = ''
            this.formData.flag = null
            this.loadCountries()
          } else notifier({ message: 'Ошибка', color: 'negative' })
        })
      } catch (e) {
        errorHandler(e)
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style scoped>

</style>
