<template>
  <div class="countries-table">
    <div class="row q-col-gutter-md">
      <div class="col-12 col-sm-6">
        <q-input
          label="Поиск"
          v-model="searchText"
          outlined dense clearable
        />
      </div>
    </div>

    <p class="q-pt-md">Всего стран: {{ countries ? countries.length : '' }}</p>
    <q-table
      :data="filteredCountries"
      :columns="columns"
      separator="cell"
      class="q-mt-md shadow-0"
      hide-no-data bordered
      :loading="!countries.length"
      style="max-width: 100%"
      row-key="index"
      virtual-scroll
      :pagination.sync="pagination"
      :rows-per-page-options="[0]"
    >
      <template v-slot:header="props">
        <q-tr
          :props="props"
          :class="$q.dark.isActive ? 'bg-grey-7' : 'bg-grey-4'"
        >
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
          <span class="text-subtitle2 text-bold">
            {{ col.label }}
          </span>
          </q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="name" :props="props" style="width: 75%">
            <div class="flex no-wrap items-center">
              <q-img :src="getFlag(props.row)" height="30px" width="50px">
                <template v-slot:loading>
                  <q-skeleton class="fit"/>
                </template>
              </q-img>
              <div :class="$q.dark.isActive ? 'text-white' : 'text-dark'" class="q-ml-sm">
                {{ props.row.name }}
              </div>
            </div>

          </q-td>
          <q-td key="code" :props="props" style="width: 25%">
            {{ props.row.code }}
          </q-td>
          <q-td key="citiesCount" :props="props" style="width: 25%">
            {{ props.row.cities ? props.row.cities.length : 0 }}
          </q-td>

          <q-td key="actions" :props="props" style="width: 25%">
            <q-btn
              icon-right="delete_forever"
              dense
              color="dark"
              @click="deleteCountry(props.row)"
            >
              <q-tooltip>Удалить</q-tooltip>
            </q-btn>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import server from 'src/config/server'
import errorHandler from 'src/utils/errorHandler'
import notifier from 'src/utils/notifier'

export default {
  name: 'countries-table',
  computed: {
    ...mapState('places', ['countries']),
    filteredCountries () {
      const countries = JSON.parse(JSON.stringify(this.countries))
      return countries
        .filter(item => item.name.toLowerCase().includes(this.searchText.toLowerCase()))
        .sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt))
    }
  },
  data () {
    return {
      searchText: '',
      pagination: {
        rowsPerPage: 0
      },
      columns: [
        {
          name: 'name',
          required: true,
          label: 'Наименование',
          align: 'left'
        },
        {
          name: 'code',
          align: 'center',
          label: 'Код'
        },
        {
          name: 'citiesCount',
          align: 'center',
          label: 'Кол-во городов'
        },
        {
          name: 'actions',
          align: 'center'
        }
      ]
    }
  },
  methods: {
    ...mapActions('places', ['loadCountries']),
    getFlag (country) {
      return `${server.serverURI}${country.flag?.url}`
    },
    async deleteCountry (country) {
      if (country.cities?.length) {
        return notifier({ message: 'Удаление невозможно. Имеются города.', color: 'negative' })
      }
      const confirmed = confirm('Удалить страну ' + country.name)
      if (!confirmed) return null
      try {
        await this.$axios.delete(`${server.serverURI}/countries/${country.id}`, {
          header: {
            ...server.headers
          }
        }).then(res => {
          if (res.status === 200) {
            notifier({ message: 'Страна удалена.', color: 'positive' })
            this.loadCountries()
          } else { notifier({ message: 'Ошибка', color: 'negative' }) }
        })
      } catch (e) {
        errorHandler(e)
      }
    }
  }
}
</script>

<style scoped>

</style>
