<template>
  <q-page class="q-pa-md">
    <base-prfile-info :profile="tourist"/>
  </q-page>
</template>

<script>
import { mapState } from 'vuex'
import BasePrfileInfo from 'components/profile/base-profile-info'

export default {
  name: 'Tourist',
  components: { BasePrfileInfo },
  computed: {
    ...mapState('tourists', ['tourist'])
  },
  preFetch ({ store, currentRoute }) {
    return store.dispatch('tourists/loadTourist', currentRoute.params.id)
  }
}
</script>

<style scoped>

</style>
