<template>
<q-page class="q-pa-md">
  <base-page-title title="Туристы" />
  <tourists-table class="q-mt-lg"/>
</q-page>
</template>

<script>
import BasePageTitle from 'components/base-page-title'
import TouristsTable from 'components/profile/tourists/tourists-table'
export default {
  name: 'Tourists',
  components: { TouristsTable, BasePageTitle },
  preFetch ({ store }) {
    return store.dispatch('tourists/loadTourists')
  }
}
</script>

<style scoped>

</style>
