<template>
  <div>
    <q-list
      v-if="user"
      separator
      class="text-bold text-uppercase"
    >
      <q-item
        v-for="link in routes"
        :key="link.title"
        :to="{ name: link.routeName }"
        exact-active-class="bg-primary text-white"
      >
        <q-item-section avatar>
          <q-icon :name="link.icon"/>
        </q-item-section>
        <q-item-section>
          {{ link.title }}
        </q-item-section>
        <q-badge color="accent" v-if="link.count">{{ link.count }}</q-badge>
      </q-item>

    </q-list>

    <div class="q-mt-xl text-right q-mr-md">
      {{ userData }}

    </div>
    <user-logout class="q-ml-lg"/>
  </div>

</template>

<script>
import { mapState } from 'vuex'
import routesData from 'src/mixins/routes-data'
import UserLogout from 'components/user/user-logout'
import user from 'src/mixins/user'

export default {
  name: 'left-drawer-content',
  components: { UserLogout },
  mixins: [routesData, user],
  computed: {
    ...mapState('user', ['user']),
    routes () {
      return [
        { routeName: 'home', title: 'Главная', icon: 'las la-home' },
        ...this.links
      ]
    },
    userData () {
      return this.user?.email || null
    }
  },
  data () {
    return {
      left: false
    }
  }
}
</script>

<style scoped>

</style>
