<template>
<q-page class="q-pa-md">
  <base-page-title title="Туры"/>
  <div class="q-mt-lg">
    <tours-table />
  </div>
</q-page>
</template>

<script>
import BasePageTitle from 'components/base-page-title'
import ToursTable from 'components/tours/tours-table'
export default {
  name: 'Tours',
  components: { ToursTable, BasePageTitle }
}
</script>

<style scoped>

</style>
