<template>
  <q-page class="q-pa-md">
    <div v-if="tourCreated" class="q-pb-xl q-mb-xl">
      <base-page-title :title="tour.name"/>
      <p class="q-mt-md">
        ID: {{ tour.id }}
        <base-copy-ti-clip :value="tour.id"/>
      </p>
      <!--    Main info-->
      <q-expansion-item
        group="tour"
        header-class="bg-dark text-white shadow-1 rounded-borders q-mt-lg q-py-md"
        switch-toggle-side
      >
        <template v-slot:header>
          <base-section-title title="Основная информация"/>
        </template>

        <q-input v-model="tour.name" class="q-mt-md" label="Название тура" outlined/>
        <q-input v-model="tour.description" class="q-mt-md" label="Описание тура" outlined type="textarea"/>
        <q-input v-model="tour.prerequisites" class="q-mt-md" label="Дополнительно" outlined type="textarea"/>
        <q-input v-model="tour.prohibitions" class="q-mt-md" label="Запрещено" outlined type="textarea"/>
        <q-input v-model="tour.included" class="q-mt-md" label="Включено" outlined type="textarea"/>
        <q-input v-model="tour.not_included" class="q-mt-md" label="Не включено" outlined type="textarea"/>
        <q-input v-model="tour.note" class="q-mt-md" label="Заметки" outlined type="textarea"/>
        <q-input v-model="tour.freeTicketNotice" class="q-mt-md" label="Условия бесплатного билета" outlined type="textarea"/>
        <q-checkbox v-model="tour.translationApproved" class="q-mt-md" label="Перевод подтвержден"/>
        <q-checkbox v-model="tour.top" class="q-mt-md" label="В топе"/>
        <q-checkbox v-model="tour.alwaysAvailable" class="q-mt-md" label="Всегда доступен"/>
        <q-checkbox v-model="tour.withTransfer" class="q-mt-md" label="Трансфер"/>
        <p v-if="tour.city" class="q-mt-md">Город: {{ tour.city ? tour.city.name : '' }}</p>
        <p class="">Язык оригинала: {{ tour.createdLanguage }}</p>
        <p class="">Рейтинг: {{ tour.rating }}</p>
        <p class="">Цена : {{ tour.price }}$</p>
        <p v-if="tour.child_price" class="">Цена (детская): {{ tour.child_price }}$</p>
        <p class="">Длительность (часы): {{ tour.duration }}</p>
        <p v-if="tour.weekDays" class="text-capitalize">Дни: {{ tour.getWeekDays() }}</p>
        <p class="">Гид: <router-link :to="tour.profile ? `/guides/${tour.profile.uid}` : '#'" class="text-primary">{{ tour.profile ? tour.profile.name : '' }}</router-link></p>
        <p class="">Количество отзывов: {{ tour.reviews_count }}</p>
        <p class="">Языки: {{ tour.languages }}</p>
        <p class="">vid: {{ tour.vid }}</p>

      </q-expansion-item>

      <!--    Photos-->
      <q-expansion-item
        group="tour"
        header-class="bg-dark text-white shadow-1 rounded-borders q-py-md q-mt-lg"
        switch-toggle-side
      >
        <template v-slot:header>
          <base-section-title title="Фотографии"/>
        </template>

        <div class="bg-dark rounded-borders q-mt-md q-pa-md">
          <div class="row q-col-gutter-md">
            <div v-if="tour.transferPhotoUrl" class="col-12 col-sm-6 col-md-4 text-white">
              <p class="text-bold q-py-md">Фото трансфера</p>
              <q-img
                :src="tour.transferPhotoUrl"
                class="rounded-borders"
              />
            </div>

            <div v-if="tour.mainPhotoUrl" class="col-12 text-white">
              <p class="text-bold q-py-md">Основное фото</p>
              <q-img
                :src="tour.mainPhotoUrl"
                class="rounded-borders"
              />
            </div>

            <div
              v-for="image in tour.getImages()"
              :key="image"
              class="col-12 col-sm-6 col-md-4"
            >
              <q-img
                :src="image"
                class="rounded-borders"
              >
                <q-btn
                  class="rounded-borders absolute-bottom-right q-ma-sm"
                  color="negative"
                  dense
                  icon="las la-trash"
                  @click="tour.deleteImage(image)"
                />
              </q-img>
            </div>

          </div>
        </div>

      </q-expansion-item>

      <!--    Categories-->
      <q-expansion-item
        group="tour"
        header-class="bg-dark text-white shadow-1 rounded-borders q-py-md q-mt-lg"
        switch-toggle-side
      >
        <template v-slot:header>
          <base-section-title title="Категории"/>
        </template>
        <div class="tour-categories q-mt-md">
          <q-checkbox v-model="tour.guide" class="tour-category-item" label="Гид"/>
          <q-checkbox v-model="tour.private" class="tour-category-item" label="Приватный тур"/>
          <q-checkbox v-model="tour.one_day_trip" class="tour-category-item" label="Однодневный тур"/>
          <q-checkbox v-model="tour.nature" class="tour-category-item" label="Природа"/>
          <q-checkbox v-model="tour.ticket_must_have" class="tour-category-item" label="Билет обязательно"/>
          <q-checkbox v-model="tour.on_water" class="tour-category-item" label="На воде"/>
          <q-checkbox v-model="tour.package_tour" class="tour-category-item" label="Пакет"/>
          <q-checkbox v-model="tour.small_group" class="tour-category-item" label="Маленькие группы"/>
          <q-checkbox v-model="tour.invalid_friendly" class="tour-category-item" label="Подходит для инвалидов"/>
          <q-checkbox v-model="tour.history" class="tour-category-item" label="История"/>
          <q-checkbox v-model="tour.world_war" class="tour-category-item" label="Мировая война"/>
          <q-checkbox v-model="tour.open_air" class="tour-category-item" label="Под открытым небом"/>
          <q-checkbox v-model="tour.street_art" class="tour-category-item" label="Уличное искусство"/>
          <q-checkbox v-model="tour.adrenaline" class="tour-category-item" label="Адреналин"/>
          <q-checkbox v-model="tour.architecture" class="tour-category-item" label="Архитектура"/>
          <q-checkbox v-model="tour.food" class="tour-category-item" label="Еда"/>
          <q-checkbox v-model="tour.music" class="tour-category-item" label="Музыка"/>
          <q-checkbox v-model="tour.for_couples_activities" class="tour-category-item" label="Для пар"/>
          <q-checkbox v-model="tour.for_kids_activities" class="tour-category-item" label="Для детей"/>
          <q-checkbox v-model="tour.museum" class="tour-category-item" label="Музеи"/>
          <q-checkbox v-model="tour.memorial" class="tour-category-item" label="Мемориалы"/>
          <q-checkbox v-model="tour.park" class="tour-category-item" label="Парки"/>
          <q-checkbox v-model="tour.gallery" class="tour-category-item" label="Галереи"/>
          <q-checkbox v-model="tour.square" class="tour-category-item" label="Площади"/>
          <q-checkbox v-model="tour.theater" class="tour-category-item" label="Театры"/>
          <q-checkbox v-model="tour.castle" class="tour-category-item" label="Замки"/>
          <q-checkbox v-model="tour.towers" class="tour-category-item" label="Башни"/>
          <q-checkbox v-model="tour.airports" class="tour-category-item" label="Аэропорты"/>
          <q-checkbox v-model="tour.bicycle" class="tour-category-item" label="Велосипеды"/>
          <q-checkbox v-model="tour.minivan" class="tour-category-item" label="Минивен"/>
          <q-checkbox v-model="tour.public_transport" class="tour-category-item" label="Общественный транспорт"/>
          <q-checkbox v-model="tour.limousine" class="tour-category-item" label="Лимузины"/>
          <q-checkbox v-model="tour.bicycle_taxi" class="tour-category-item" label="Велотакси"/>
          <q-checkbox v-model="tour.car" class="tour-category-item" label="Машины"/>
          <q-checkbox v-model="tour.cruise" class="tour-category-item" label="Круиз"/>
        </div>

      </q-expansion-item>

      <!--      Remark-->
      <q-expansion-item
        group="tour"
        header-class="bg-dark text-white shadow-1 rounded-borders q-py-md q-mt-lg"
        switch-toggle-side
      >
        <template v-slot:header>
          <base-section-title title="Замечание"/>
        </template>
        <div class="bg-dark rounded-borders q-mt-md q-pa-md">
          <tour-remark :tour="tour"/>
        </div>
      </q-expansion-item>

      <div class="q-mt-lg flex justify-between">
        <q-checkbox
          v-model="tour.approved"
          class="text-subtitle1 text-bold"
          label="Опубликовать"
        />

        <q-btn
          label="Удалить тур"
          color="dark"
          class="q-pa-sm q-mt-md"
          no-caps
          icon="las la-trash"
          :loading="deleteLoading"
          @click="deleteTour"
        />
      </div>

    </div>

    <!--    Actions-->
    <div class="edit-actions">
      <div class="row q-col-gutter-md">
        <div class="col-6">
          <q-btn
            class="rounded-borders q-py-sm full-width"
            color="negative"
            icon="close"
            label="Отменить"
            outline
            @click="cancel"
          />
        </div>

        <div class="col-6">
          <q-btn
            class="rounded-borders q-py-sm full-width"
            color="positive"
            icon="save"
            label="Сохранить"
            :loading="updateLoading"
            @click="updateTour"
          />
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import Tour from 'src/classes/Tour'
import { mapActions, mapState } from 'vuex'
import BasePageTitle from 'components/base-page-title'
import BaseSectionTitle from 'components/base-section-title'
import TourRemark from 'components/tours/tour-remark'
import errorHandler from 'src/utils/errorHandler'
import server from 'src/config/server'
import notifier from 'src/utils/t-notifier'
import BaseCopyTiClip from 'components/base-copy-ti-clip'

export default {
  name: 'TourDetail',
  components: { BaseCopyTiClip, TourRemark, BaseSectionTitle, BasePageTitle },
  computed: {
    ...mapState('tours', { originalTour: 'tour' }),
    tourCreated () {
      return !!Object.values(this.tour).length
    }
  },
  preFetch ({ store, currentRoute }) {
    return store.dispatch('tours/loadTour', currentRoute.params.id)
  },
  data () {
    return {
      tour: new Tour({}),
      updateLoading: false,
      deleteLoading: false
    }
  },
  mounted () {
    const createTourInstance = setInterval(() => {
      if (Object.values(this.originalTour).length) {
        this.tour = new Tour(this.originalTour)
        clearInterval(createTourInstance)
      }
    }, 250)
  },
  methods: {
    ...mapActions('tours', ['loadTour']),
    async cancel () {
      await this.loadTour(this.tour.id)
      this.tour = new Tour(this.originalTour)
    },

    async updateTour () {
      const vm = this
      vm.updateLoading = true
      try {
        await vm.$axios.put(`${server.serverURI}/tours/${vm.tour.id}`, {
          ...vm.tour,
          remark: vm.tour.remark ? vm.tour.remark.id : undefined,
          _id: vm.tour.id
        }, {
          headers: server.headers
        })
          .then(async res => {
            notifier({ message: 'Тур успешно обновлен.', color: 'positive' })
            await vm.loadTour(vm.tour.id)
            vm.tour = new Tour(vm.originalTour)
          })
      } catch (err) {
        errorHandler(err)
      } finally {
        vm.updateLoading = false
      }
    },

    async deleteTour () {
      const vm = this

      if (!confirm('Удалить тур?')) return null
      vm.deleteLoading = true
      try {
        await this.$axios.delete(`${server.serverURI}/tours/${this.tour.id}`, {
          headers: server.headers
        })
          .then(async res => {
            notifier({ message: 'Тур успешно удален.', color: 'positive' })
            await vm.$router.replace({ name: 'tours' })
          })
      } catch (err) {
        errorHandler(err)
      } finally {
        this.deleteLoading = false
      }
    }
  }
}
</script>

<style lang="sass">
.tour-category-item
  margin-right: 20px

.tour-categories
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 10px
</style>
