<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>

import { mapActions, mapState } from 'vuex'

export default {
  name: 'App',
  computed: {
    ...mapState('user', ['user'])
  },
  beforeCreate () {
    // this.$q.dark.set(true)
  },
  methods: {
    ...mapActions('user', ['getUser']),
    ...mapActions('guides', ['loadUnverifiedGuides']),
    ...mapActions('tours', ['loadUnapprovedTours'])
  },
  async created () {
    const jwt = localStorage.getItem('jwt') || null

    if (jwt && jwt !== 'null') {
      await this.getUser(jwt)
    }

    if (!this.user && this.$route.name !== 'login') {
      await this.$router.replace({
        name: 'login'
      })
    } else {
      this.$i18n.locale = localStorage.getItem('language')
    }

    this.loadUnverifiedGuides()
    this.loadUnapprovedTours()
    setInterval(() => {
      this.loadUnverifiedGuides()
      this.loadUnapprovedTours()
    }, 1000 * 10)
  },
  watch: {
    '$route' () {
      setTimeout(() => {
        if (!this.user) {
          this.$router.push({
            name: 'login'
          })
        }
      }, 2000)
    }
  }
}
</script>
