<template>
<div class="create-general-notification">
  <q-btn
    label="Создать уведомление"
    icon="add"
    color="positive"
    class="q-px-md q-py-sm letter-1"
    @click="dialog = true"
  />

  <q-dialog v-model="dialog">
    <q-card style="max-width: 100%; width: 500px">
      <!--        Toolbar-->
      <q-toolbar class="bg-dark text-white">
        <q-toolbar-title class="text-bold">
          <q-icon name="las la-comment"/>
          Новое уведомление
        </q-toolbar-title>
        <q-btn icon="close" dense flat v-close-popup/>
      </q-toolbar>

<!--      Form-->
      <q-card-section class="q-pa-lg">
        <div>
          <q-input
            v-model="formData.title"
            label="Заголовок"
            outlined clearable
            :error="errors.title"
            error-message="Это поле не может быть пустым"
          />
          <q-input
            v-model="formData.body"
            type="textarea"
            label="Текст уведомления"
            outlined clearable
            :error="errors.body"
            error-message="Это поле не может быть пустым"
            class="q-mt-xs"
          />
          <q-select
            v-model="formData.link"
            :error="errors.link"
            error-message="Это поле не может быть пустым"
            :options="linkOptions"
            label="Ссылка"
            outlined
            clearable
            stack-label
            emit-value
            option-label="name"
            option-value="value"
          />

          <q-select
            v-model="formData.cycle"
            :error="errors.cycle"
            error-message="Это поле не может быть пустым"
            :options="cycleOptions"
            label="Цикл"
            outlined
            clearable
            stack-label
            emit-value
            option-label="name"
            option-value="value"
          />

          <q-uploader
            :url="getUploadUrl"
            style="min-width: 100%;"
            class="q-mt-md"
            field-name="files"
            @uploaded="fileUploaded"
          />

          <div class="flex q-mt-md justify-end">
            <q-btn
              label="Отменить"
              outline
              @click="cancel"
            />

            <q-btn
              label="Создать"
              icon="add"
              color="positive"
              class="q-ml-md"
              :loading="loading"
              @click="create"
            />
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</div>
</template>

<script>
import { mapActions } from 'vuex'
import { notificationLinks } from 'src/config/notification-options'
import server from 'src/config/server'
const formData = {
  title: '',
  body: '',
  cycle: '',
  link: '',
  image: ''
}
export default {
  name: 'create-general-notification',
  data () {
    return {
      dialog: false,
      linkOptions: [],
      cycleOptions: [],
      loading: false,
      formData: {
        title: '',
        body: '',
        cycle: '',
        link: '',
        image: ''
      },
      errors: {
        title: false,
        body: false,
        cycle: false,
        link: false,
        image: false
      }
    }
  },
  methods: {
    ...mapActions('generalNotifications', ['createGeneralNotification']),
    getUploadUrl () {
      return server.notificationServerURI + '/upload'
    },

    async create () {
      for (const key in this.formData) {
        if (!this.formData[key] && key !== 'image') {
          this.errors[key] = true
          return
        }
      }
      this.loading = true
      await this.createGeneralNotification(this.formData)
      this.loading = false
      this.dialog = false
    },

    fileUploaded (info) {
      this.formData.image = server.notificationServerURI + JSON.parse(info.xhr.response)[0].formats.small.url
    },
    cancel () {
      this.formData = { ...formData }
    }
  },
  async created () {
    this.linkOptions = await notificationLinks.getNotificationLinks()
    this.cycleOptions = await notificationLinks.getNotificationCycles()
  }
}
</script>

<style scoped>

</style>
