<template>
  <div class="tourists-table">

    <!--    Search-->
    <div class="row">
      <div class="col-12 col-md-9">
        <q-input
          v-model="searchText"
          clearable
          dense label="Поиск" outlined
        />
      </div>
    </div>

    <!--    Table-->
    <q-table
      :columns="columns"
      :data="filteredNotifications"
      :pagination.sync="pagination"
      :rows-per-page-options="[0]"
      bordered
      class="q-mt-md shadow-0" hide-no-data
      row-key="name"
      separator="cell"
      style="max-width: 100%"
      virtual-scroll
    >
      <!--      Table header-->
      <template v-slot:header="props">
        <q-tr
          :class="$q.dark.isActive ? 'bg-grey-7' : 'bg-grey-4'"
          :props="props"
        >
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
          <span class="text-subtitle2 text-uppercase text-bold">
            {{ col.label }}
          </span>
          </q-th>
        </q-tr>
      </template>

      <!--      Table body-->
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="name" :props="props" class="text-subtitle1">
            <div class="flex items-center no-wrap relative-position">
              <q-btn
                icon="delete"
                class="absolute-bottom-left"
                style="z-index: 10"
                color="negative"
                dense
                size="sm"
                @click="deleteNotification(props.row.id)"
              />
              <div>
                <q-avatar size="70px" square>
                  <q-img :src="props.row.image"/>
                </q-avatar>
              </div>

              <div class="q-ml-md">
                <p class="text-subtitle1 text-bold">{{ getCycleName(props.row.cycle) }}</p>
                <p>{{ props.row.title }}</p>
                <small>{{ props.row.body }}</small>
              </div>
            </div>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import getCycleName from 'src/utils/get-cycle-name'

export default {
  name: 'general-notifications-table',
  computed: {
    ...mapState('generalNotifications', ['generalNotifications']),
    filteredNotifications () {
      const notifications = [...this.generalNotifications]
      return notifications
        .filter(
          item => this.getCycleName(item.cycle)?.toLowerCase().includes(this.searchText?.toLowerCase()) ||
            item.title?.toLowerCase().includes(this.searchText?.toLowerCase())
        )
        .sort((a, b) => this.getCycleName(a.cycle) > this.getCycleName(b.cycle) ? 1 : -1)
    }
  },
  data () {
    return {
      pagination: {
        rowsPerPage: 0
      },
      searchText: '',
      columns: [
        {
          name: 'name',
          required: true,
          label: 'Уведомления',
          align: 'left'
        }
      ]
    }
  },
  methods: {
    ...mapActions('generalNotifications', ['loadGeneralNotifications', 'deleteNotification']),
    getCycleName
  },
  created () {
    this.loadGeneralNotifications()
  },
  watch: {
    searchText (val) {
      if (val === null) this.searchText = ''
    }
  }
}
</script>

<style scoped>

</style>
