<template>
  <div>
    <q-card
      v-if="hasRemark"
      dark
      class="bg-transparent shadow-0 rounded-borders"
    >
      <q-card-section>
        <p class="text-subtitle1 text-bold">{{ remark.title }}</p>
        <p>{{ remark.remark }}</p>
        <small class="block text-right text-italic">
          {{ remark.createdAt | dateTimeFilter }}
          <q-btn
            icon="las la-trash"
            color="negative"
            dense
            class="q-ml-md"
            :loading="deleteLoading"
            @click="deleteRemark(remark.id)"
          />
        </small>
      </q-card-section>

    </q-card>
    <q-card dark class="bg-transparent shadow-0" v-else>
      <q-card-section>
        <p class="text-subtitle1 text-bold">Добавить замечание</p>
        <q-input
          v-model="newRemark.title"
          outlined dark
          label="Заголовок"
          class="q-mt-md"
          :error="newRemarkErrors.titleError"
          error-message="Это обязательное поле"
        />
        <q-input
          v-model="newRemark.remark"
          type="textarea"
          outlined dark
          label="Текст"
          class="q-mt-sm"
          :error="newRemarkErrors.remarkError"
          error-message="Это обязательное поле"
        />
        <div class="text-right">
          <q-btn
            label="Добавить"
            color="positive"
            class="text-bold letter-1 q-pa-sm rounded-borders"
            icon="add"
            :loading="createLoading"
            @click="createRemark(offer.id)"
          />
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import dateTimeFilter from 'src/filters/date-time-filter'
import errorHandler from 'src/utils/errorHandler'
import server from 'src/config/server'
import notifier from 'src/utils/t-notifier'

export default {
  name: 'offer-remark',
  props: {
    offer: {
      type: Object,
      default: () => {
      }
    }
  },
  data () {
    return {
      deleteLoading: false,
      createLoading: false,
      remark: {},
      newRemark: {
        title: '',
        remark: ''
      },
      newRemarkErrors: {
        titleError: false,
        remarkError: false
      }
    }
  },
  mounted () {
    this.remark = this.offer.remark
  },
  watch: {
    offer () {
      this.remark = this.offer.remark
    }
  },
  filters: { dateTimeFilter },
  computed: {
    hasRemark () {
      if (this.remark) {
        return !!Object.values(this.remark)?.length
      }
      return false
    }
  },
  methods: {
    async deleteRemark (id) {
      if (!confirm('Удалить замечание?')) return null
      this.deleteLoading = true

      try {
        await this.$axios.delete(`${server.serverURI}/remarks/${id}`, {
          headers: server.headers
        })
          .then(async response => {
            notifier({ message: 'Замечание успешно удалено.', color: 'positive' })
            this.remark = {}
          })
      } catch (err) {
        errorHandler(err)
      } finally {
        this.deleteLoading = false
      }
    },

    async createRemark (offer) {
      const vm = this,
        data = vm.newRemark

      if (!data.title) {
        vm.newRemarkErrors.titleError = true
        return null
      }
      if (!data.remark) {
        vm.newRemarkErrors.remarkError = true
        return null
      }

      vm.createLoading = true

      try {
        await this.$axios.post(`${server.serverURI}/remarks`, {
          ...data,
          offer
        }, {
          headers: server.headers
        })
          .then(res => {
            notifier({ message: 'Замечание успешно создано.', color: 'positive' })
            vm.remark = { ...vm.newRemark, createdAt: new Date() }
          })
      } catch (err) {
        errorHandler(err)
      } finally {
        vm.createLoading = false
      }
    }
  }

}
</script>

<style scoped>

</style>
