<template>
  <div class="tours-table">
    <div class="row q-col-gutter-md">
      <div class="col-12 col-sm-6">
        <q-input
          label="Поиск по туру"
          v-model="searchText"
          outlined dense clearable
        />
      </div>
      <div class="col-12 col-sm-6">
        <q-select
          v-model="filter._locale"
          :options="localizations"
          label="Язык"
          outlined dense
        />
      </div>
    </div>

    <div class="q-mt-sm row q-col-gutter-md">
      <div class="col-6">
        <q-checkbox
          v-model="filter._next"
          label="Не оригинал"
        />
      </div>
      <div class="col-6">
        <q-checkbox
          v-model="filter._approved"
          label="Подтвержденные"
        />
      </div>
    </div>
    <p>Оферов: {{ offers ? offers.length : '' }}</p>
    <q-table
      :data="filteredOffers"
      :columns="columns"
      separator="cell"
      class="q-mt-md shadow-0"
      hide-no-data bordered
      :loading="tableLoading"
      style="max-width: 100%"
      row-key="index"
      virtual-scroll
      :pagination.sync="pagination"
      :rows-per-page-options="[0]"
    >
      <template v-slot:header="props">
        <q-tr
          :props="props"
          :class="$q.dark.isActive ? 'bg-grey-7' : 'bg-grey-4'"
        >
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
          <span class="text-subtitle2  text-bold">
            {{ col.label }}
          </span>
          </q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="name" :props="props" style="width: 75%">
            <router-link
              :to="{name: 'offer-detail', params: { id: props.row.id }}"
              :class="$q.dark.isActive ? 'text-white' : 'text-dark'"
            >
              {{ props.row.tour.name }}
              <q-tooltip>Перейти к оферу</q-tooltip>
            </router-link>

          </q-td>
          <q-td key="city" :props="props" style="width: 25%">
            {{ props.row.locale }}
          </q-td>
          <q-td key="approved" :props="props" style="width: 25%">
            <q-icon
              :name="props.row.approved ? 'done' : 'close'"
              :color="props.row.approved ? 'positive' : 'negative'"
              size="25px"
            />
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import server from 'src/config/server'
import errorHandler from 'src/utils/errorHandler'

export default {
  name: 'offers-table',
  computed: {
    ...mapState('offers', ['offers']),
    filteredOffers () {
      return this.offers
        .filter(
          item => item?.tour?.name.toLowerCase().includes(this.searchText.toLowerCase())
        )
    },
    filterNext () {
      return this.filter._next
    },
    filterLocale () {
      return this.filter._locale
    },
    filterApproved () {
      return this.filter._approved
    }
  },
  data () {
    return {
      searchText: '',
      pagination: {
        rowsPerPage: 0
      },
      columns: [
        {
          name: 'name',
          required: true,
          label: 'Наименование тура',
          align: 'left'
        },
        {
          name: 'city',
          align: 'center',
          label: 'Язык'
        },
        {
          name: 'approved',
          align: 'center',
          label: 'Подтвержден'
        }
      ],

      localizations: [],
      tableLoading: false,
      filter: {
        _next: false, // Оригинальный тур
        _locale: 'all',
        _approved: false
      }
    }
  },
  methods: {
    ...mapActions('offers', ['loadOffers']),
    async reloadOffers () {
      this.tableLoading = true
      try {
        await this.loadOffers(this.filter)
      } catch (err) {
        errorHandler(err)
      } finally {
        this.tableLoading = false
      }
    }
  },
  async created () {
    let locales = []
    await this.loadOffers(this.filter)
    locales = await this.$axios.get(`${server.serverURI}/i18n/locales`).then(res => res.data) || []
    locales.forEach(item => this.localizations.push(item?.code))
    this.localizations.unshift('all')
  },
  watch: {
    searchText (val) {
      if (val === null) this.searchText = ''
    },
    filterNext () {
      this.reloadOffers()
    },
    filterLocale () {
      this.reloadOffers()
    },
    filterApproved () {
      this.reloadOffers()
    }
  }
}
</script>
